<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="frame">
<head>
    <title>Home</title>
</head>
<body>
<div class="clearfix" layout:fragment="content">

    <div class="page-header">
        <div class="container">
            <h1 class="headline">CyberWay</h1>

            <h2 class="tagline">
                Connecting Earth observations,
polar science outcomes, and climate model outcomes via the EarthCube architecture
            </h2>

            <div class="text-center">
                <!-- <a role="button" class="btn-white" href="demo" th:href="@{demo}">Online DEMO</a>
                <br class="visible-xs-inline"/><br class="visible-xs-inline"/> -->
                <a role="button" class="btn btn-lean"  th:href="@{about}">More Details</a>
            </div>
        </div>
    </div>

    <section class="sec-white font-default">
        <div class="container">
            <div class="col-xs-12 col-md-8">
                <div class="panel panel-default">
                    <p class="pull-right more"><a href="about" th:href="@{about}">MORE</a></p>
                    <h2>What is CyberWay</h2>

                    <p> This project will build a production system of systems integrating EarthCube building blocks,
particularly BCube, CyberConnector, CHORDS, and GeoWS, to advance geosciences research through
improved interoperability and integration across diverse polar science and atmospheric science research,
methods, and resources. </p>

					<p> Named CyberWay, the system is built through connecting Earth observations,
polar science outcomes, and climate model outcomes via the EarthCube architecture. The system itself
will also become an element of the EarthCube infrastructure.</p>

					<p>
						<a href="about.html#para4" th:href="@{about.html#para4}"><img class="img-responsive center-block" th:attr="src=@{../images/cyberway_overall_architecture.jpg}"/></a>
					</p>
					
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="panel panel-default panel-side">
                    <h2>Principle Investigator</h2>

                    <div class="pull-left"><img th:attr="src=@{../images/photo_ldi-s.png}"/></div>
                    <dl class="side">
                        <dt><a href="http://cloud.csiss.gmu.edu/ldi">Dr. Liping Di</a></dt>
                        <dd><b>Professor, Director</b></dd>
                        <dd>Center for Spatial Information Science &amp; Systems of George Mason University</dd>
                        <dd>Email: <a href="mailto:ldi@gmu.edu">ldi@gmu.edu</a></dd>
                    </dl>
                </div>
                <div class="panel panel-default panel-side">
                    <h2>Co-Principle Investigators</h2>
                    <dl class="clearfix">
	                    <div class="pull-left"><img  style="width:90px;height:90px;" src="https://www.wallstreetotc.com/wp-content/uploads/2014/10/facebook-anonymous-app.jpg"/></div>
	                    <dl class="side">
	                        <dt><a href="http://cloud.csiss.gmu.edu/ldi">Dr. James Kinter</a></dt>
	                        <dd>Center for Ocean-Land-Atmosphere Studies (COLA) of George Mason University</dd>
	                        <dd>Email: <a href="mailto:ikinter@gmu.edu">ikinter@gmu.edu</a></dd>
	                    </dl>
                    </dl>
                    <dl class="clearfix">
	                    <div class="pull-left"><img  style="width:90px;height:90px;" src="https://www.wallstreetotc.com/wp-content/uploads/2014/10/facebook-anonymous-app.jpg"/></div>
	                    <dl class="side">
	                        <dt><a href="http://cloud.csiss.gmu.edu/ldi">Dr. David Bromwich</a></dt>
	                        <dd>Byrd Polar and Climate Research Center of The Ohio State University</dd>
	                        <dd>Email: <a href="mailto:bromwich@polarmet1.mps.ohio-state.edu">bromwich@polarmet1.mps.ohio-state.edu</a></dd>
	                    </dl>
                    </dl>
                    <dl class="clearfix">
	                    <div class="pull-left"><img  style="width:90px;height:90px;" src="https://www.wallstreetotc.com/wp-content/uploads/2014/10/facebook-anonymous-app.jpg"/></div>
	                    <dl class="side">
	                        <dt><a href="http://cloud.csiss.gmu.edu/ldi">Dr. Eugene Yu</a></dt>
	                        <dd>Center for Spatial Information Science &amp; Systems of George Mason University</dd>
	                        <dd>Email: <a href="mailto:gyu@gmu.edu">gyu@gmu.edu</a></dd>
	                    </dl>
                    </dl>
                    
                </div>
            </div>
        </div>
    </section>

    <section class="sec-lightgrey font-default">
        <div class="container">
            <div class="col-xs-12 col-md-8">
                <div class="panel panel-default">
                    <h2>Scientific Use Cases</h2>

                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <dl class="clearfix">
                                <dt><a th:href="@{about.html}" target="_blank">Integration of global and regional climate model outcomes for teleconnection studies across multiple disciplines</a></dt>
                                <dd>&middot;Cross-discipline collaboration: Associate model outputs with Earth observations and
reanalyses.</dd>
                                <dd>&middot; Outputs from COLA models, Arctic regional models and reanalyses will be
converted and made comparable through automatic composition of Web processing
services to support on-demand re-projection, re-formatting, and/or re-scaling
(temporally and spatially).</dd>
								<dd>&middot; Association analyses, e.g. the connection of Arctic changes to mid-latitude and
tropical (e.g. El Niño) climate dynamics in order to understand the role of warm air
mass circulations over the Arctic, will be facilitated.</dd>
                                <!-- <dd><img class="center-block" th:attr="src=@{../images/pic_mod_cmaq.png}"/></dd> -->
                            </dl>
                            <div class="seperator-line"/><br/>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <dl class="clearfix">
                                <dt><a th:href="@{about.html}" target="_blank">Inter-comparison and validation across models</a></dt>
                                <dd>&middot; Direct comparison of high-resolution global model outputs with EO</dd>
                                <dd>&middot; CyberWay will facilitate re-projection, re-formatting, and/or re-scaling (spatially
and temporally) to make EO and model outputs comparable.</dd>
								<dd>&middot; CyberWay allows the design and customization of workflows (both graphically and
programmatically) and the automated execution of such workflows to make the
comparison of model outputs and EO more efficient.</dd>
                            </dl>
                            <div class="seperator-line"/><br/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <dl class="clearfix">
                                <dt><a th:href="@{about.html}">Streamlined process for models</a></dt>
                                <dd>&middot; A composite workflow of Web processing services to realize the discovery,
retrieval, pre-processing, and post-publication for ASR.</dd>
								<dd>&middot; The workflow execution is automated and controllable with self-timing clocks or
triggers on data availability.</dd>
								<dd>&middot; The metadata generation with quality metadata for the workflows is automated.</dd>
                            </dl>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <dl class="clearfix">
                                <dt><a th:href="@{about.html}">Enhanced dissemination</a></dt>
                                <dd>&middot; Crawl the tape archive and automate the workflow for metadata generation.</dd>
                                <dd>&middot; Customized workflow for efficiently retrieving relevant data.</dd>
                                <dd>&middot; Cache only variables about identified cyclones to reduce the dependency on slow
mass storage systems.</dd>
                            </dl>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="panel panel-default">
                    <h2>Features</h2>
                    <dl>
                        <dt>Open Specifications</dt>
                        <dd>- ISO/TC 211 standards</dd>
                        <dd>- OGC specifications: CSW, WCS, WFS, WPS, SWE</dd>
                    </dl>
                    <dl>
                        <dt>Open Architectures</dt>
                        <dd>- Service-oriented architecture (SOA)</dd>
                        <dd>- Representational State Transfer (REST)</dd>
                        <dd>- Simple Object Access Protocol (SOAP)</dd>
                    </dl>
                    <dl>
                        <dt>Service Composition</dt>
                        <dd>- Business Process Execution Language (BPEL)</dd>
                        <dd>- Business Process Model and Notation (BPMN)</dd>
                    </dl>
                    <dl>
                        <dt>Interoperability</dt>
                        <dd>- Support standard geospatial services</dd>
                        <dd>- Plug-in-and-play Mode</dd>
                        <dd>- Services free open access</dd>
                    </dl>
                    <dl>
                        <dt>Reusability</dt>
                        <dd>- Common service interfaces</dd>
                        <dd>- Services easy to be reused</dd>
                        <dd>- Service-chain-based geo-model processing</dd>
                    </dl>
                    <!--<dl>
                        <dt>Scalability</dt>
                        <dd>- Web-based modelservice-oriented architecture</dd>
                        <dd>- Service easy to be reused</dd>
                    </dl>-->
                </div>
            </div>
        </div>
    </section>

</div>
</body>
</html>