<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="frame">
	<head>
	    <title>News</title>
	</head>
	<body>
	
		<div class="clearfix" layout:fragment="content">
		
		    <div class="sec-heading font-default">
		    
		        <div class="container">
		    
		            <h1>News</h1>
		    
		        </div>
		    
		    </div>
		
		    <section class="container font-default">
		    
		    	<div class="panel panel-default">
					
					<h3>CyberWay Monthly Telecon (3/11/2019)</h3>
					
					<p>Attendees: Benjamin Cash, Sheng-Hung Wang, Ziheng Sun, Eugene Yu, Juozas Gaigalas, Chen Zhang</p>
					
					<p>
					
						<a href="https://github.com/CSISS/CyberWay/blob/master/docs/minutes_15th_monthly_report.docx">Meeting minutes</a>
					
					</p>
					
		        </div>
		    
		    	<div class="panel panel-default">
					
					<h3>COVALI is on Github! (9/27/2018)</h3>
					
					<p>The source code of CyberConnector, including COVALI and Geoweaver, is released on <a href="http://github.com/CSISS/cc">Github</a>. </p>
						
		        </div>
		    	
				<div class="panel panel-default">
					
					<h3>CyberWay Monthly Telecon (7/9/2018)</h3>
					
					<p>Attendees: Steve Browdy, Benjamin Cash, Sheng-Hung Wang, Eugene Yu, Chen Zhang</p>
				
					<p>Agenda: Presentation and demonstration by Steve Browdy on BCube; Progress check with each group.
</p>	
					
					<p>Links: <a href="../folder/CyberWay-Presentation-20180709.pptx">Steve's slides</a>
					
					</p>
					
		        </div>
		        
		        <div class="panel panel-default">
					
					<h3>EarthCube All hands (6/6/2018 - 6/8/2018)</h3>
					
					<p>CyberWay team attended the EarthCube All hands in Washington, D.C. </p>
						
		        </div>    			    
			    
		        <div class="panel panel-default">
					
					<h3>Project kickoff meeting has been held (10/31/2017)</h3>
					
					<p> CSISS conference room 3006 at Commerce Building (4087 University Drive, Fairfax)</p>
					
					<p>Attendees: Liping Di, David Bromwich, Eugene Yu, Ben, Steve Browdy, Ziheng Sun, Junmei Tang, Juozas Gaigalas, Shaopo Zhong, Zhengyu Tan, Chengxiao Zhang</p>
					
					<p>Links: <a href="../folder/CyberWay-Kick-off-Introduction.pptx">Liping's slides</a><br/>
					
						<a href="../folder/Data%20review%20v2.pptx">Ben's slides</a><br/>
						
						<a href="../folder/OSU_CyberWay_Kickoff_Slides_Oct31_217.pptx">David's slides</a><br/>
						
						<a href="../folder/CyberWay%20Kickoff%20(OMSTECH).pptx">Steve's slides</a>
					
					</p>
					
		        </div>
		        
		    </section>
		
		</div>
	</body>
</html>
