<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="frame">
	<head>
	    <title>News</title>
	</head>
	<body>
	
		<div class="clearfix" layout:fragment="content">
		
		    <div class="sec-heading font-default">
		    
		        <div class="container">
		    
		            <h1>News</h1>
		    
		        </div>
		    
		    </div>
		
		    <section class="container font-default">
		    	
			<div class="panel panel-default">
					
					<h3>CyberWay Monthly Telecon (7/9/2018)</h3>
					
					<p>Attendees: Steve Browdy, Benjamin Cash, Sheng-Hung Wang, Eugene Yu, Chen Zhang</p>
				
					<p>Agenda: Presentation and demonstration by Steve Browdy on BCube; Progress check with each group.
</p>	
					
					<p>Links: <a href="../folder/CyberWay-Presentation-20180709.pptx">Steve's slides</a>
					
					</p>
					
		        </div>    			    
			    
		        <div class="panel panel-default">
					
					<h3>10/31/2017 Project kickoff meeting has been held</h3>
					
					<p> CSISS conference room 3006 at Commerce Building (4087 University Drive, Fairfax)</p>
					
					<p>Attendees: Liping Di, David Bromwich, Eugene Yu, Ben, Steve Browdy, Ziheng Sun, Junmei Tang, Juozas Gaigalas, Shaopo Zhong, Zhengyu Tan, Chengxiao Zhang</p>
					
					<p>Links: <a href="../folder/CyberWay-Kick-off-Introduction.pptx">Liping's slides</a><br/>
					
						<a href="../folder/Data%20review%20v2.pptx">Ben's slides</a><br/>
						
						<a href="../folder/OSU_CyberWay_Kickoff_Slides_Oct31_217.pptx">David's slides</a><br/>
						
						<a href="../folder/CyberWay%20Kickoff%20(OMSTECH).pptx">Steve's slides</a>
					
					</p>
					
		        </div>
		        
		    </section>
		
		</div>
	</body>
</html>
