<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="frame">
	<head>
	    <title>Publication</title>
	</head>
	<body>
	
		<div class="clearfix" layout:fragment="content">
			
		    <div class="sec-heading font-default">
		        <div class="container">
		            <h1>Publication</h1>
		        </div>
		    </div>
			
		    <section class="container font-default">
			
		        <div class="panel panel-default">
					
		            <ul>
		            	<li>Sun, Z., Di, L., <a href="https://agu.confex.com/agu/fm18/meetingapp.cgi/Paper/411135">CyberConnector COVALI: enabling inter-comparison and validation of Earth science models</a>, AGU Fall Meeting, Washington, D.C., 2018.</li>
		            	<li>Zhang, C., Di, L., Sun, Z., Lin, L., Eugene, G. Y., & Gaigalas, J. (2019). Exploring cloud-based Web Processing Service: A case study on the implementation of CMAQ as a service. Environmental Modelling & Software, 113, 29-41.</li>
		            	<li>Sun, Z., etc. 2018: Building a highspeed CyberWay to Geospatial Cyberinfrastructure, AAG, New Orleans, LA. <a href="https://aag.secure-abstracts.com/AAG%20Annual%20Meeting%202018/abstracts-gallery/12702">https://aag.secure-abstracts.com/AAG%20Annual%20Meeting%202018/abstracts-gallery/12702</a></li>
						<li>Sun, Z., Di, L., Fang, H., 2018: Using long short-term memory recurrent neural network in land cover classification on Landsat and Cropland data layer time series, International Journal of Remote Sensing, in press. 
		            	</li>
		            	<li>Akperov et al., 2018: Cyclone activity in the Arctic from an ensemble of regional climate models (Arctic CORDEX). J. Geophys. Res.: Atmospheres, 123, 2537-2554, https://doi.org/10.1002/2017/JD027703.</li>
						<li>Bromwich, D., A. Wilson, L. Bai, Z. Liu, M. Barlage, C. Shih, S. Maldonado, K. Hines, S.-H. Wang, J. Woollen, B. Kuo, H. Lin, T. Wee, M. Serreze, and J. Walsh, 2018: The Arctic System Reanalysis Version 2. Bull. Amer. Meteor. Soc., 99, 805-828, doi: 10.1175/BAMS-D-16-0215.1.</li>
						<li>Kohnemann, S. H. E., G. Heinemann, D. H. Bromwich, and O. Gutjahr, 2017: Extreme warming in the Kara Sea and Barents Sea during the winter period 2000-2016. J. Climate., 30, 8913-8927, doi: 10.1175/JCLI-D-16-0693.</li>
						<li>Kolstad, E. W., 2017: Higher ocean wind speeds during marine cold air outbreaks. Q. J. R. Meteorol. Soc., 143, 2084-2092, doi: 10.1002/qj.23068.</li>
						<li>Smirnova, J., and P. Golubkin, 2017: Comparing polar lows in atmospheric reanalyses: Arctic System Reanalysis versus ERA-Interim. Mon. Wea. Rev., 145, 2375-2383, doi: 10.1175/MWR-D-16-0333.1.</li>
		            
		            	<li>
							Sun Z. et al. CyberConnector: a service-oriented system for automatically tailoring multisource 
							Earth observation data to feed Earth science models. Earth Science Informatics, 2017, in press.
		                </li>
		            	<li>
							Mantas V M, Liu Z, Pereira A. A web service and android application for the distribution 
							of rainfall estimates and Earth observation data. Computers &amp; Geosciences, 2015, 77: 66-76.
		                </li>
						<li>
							Tan X, Di L, Deng M, et al. Cloud-and agent-based Geospatial service chain: A case study of 
							submerged crops analysis during flooding of the Yangtze River basin[J]. IEEE Journal of 
							Selected Topics in Applied Earth Observations and Remote Sensing, 2015, 8(3): 1359-1370.
		                </li>
						<li>
							Yagci, A. L., Di, L., &amp; Deng, M. (2015). The effect of corn-soybean rotation on the NDVI-based
							drought indicators: a case study in Iowa, USA, using Vegetation Condition Index. 
							GIScience &amp; Remote Sensing, 52(3), 290-314. 
		                </li>
						<li>
		                    Sun Z, Fang H, Di L, et al. Realizing Parameterless Automatic Classification of Remote Sensing
							Imagery Using Ontology Engineering and Cyberinfrastructure Techniques. 
							Computers &amp; Geosciences, 2016.
		                </li>
						<li>
							Sun Z, Peng C, Deng M, et al. Automation of Customized and Near-Real-Time Vegetation Condition 
							Index Generation Through Cyberinfrastructure-Based Geoprocessing Workflows[J]. IEEE Journal of 
							Selected Topics in Applied Earth Observations and Remote Sensing, 2014, 7(11): 4512-4522.
		                </li>
						<li>
		                    Sun Z, Fang H, Di L, et al. Developing a web-based system for supervised classification of
							remote sensing images[J]. GeoInformatica, 2016: 1-21.
		                </li>
						<li>
		                    Sun Z, Fang H, Deng M, et al. Regular Shape Similarity Index: A Novel Index for Accurate 
							Extraction of Regular Objects From Remote Sensing Images[J]. IEEE Transactions on Geoscience
							and Remote Sensing, 2015, 53(7): 3737-3748.
		                </li>
						<li>
		                    Sun Z, Yue P, Di L. GeoPWTManager: a task-oriented web geoprocessing system. Computers 
							&amp; Geosciences, 2012, 47: 34-45.
		                </li>
						<li>
		                    Sun Z, Yue P, Hu L, et al. GeoPWProv: Interleaving Map and Faceted Metadata for Provenance 
							Visualization and Navigation[J]. IEEE Transactions on Geoscience and Remote Sensing, 
							2013, 51(11): 5131-5136.
		                </li>
						<li>
		                    Sun Z, Yue P, Lu X, et al. A Task Ontology Driven Approach for Live Geoprocessing in a Service
							Oriented Environment[J]. Transactions in GIS, 2012, 16(6): 867-884.
		                </li>
		                <li>
		                    Chen, N., L. Di, G. Yu, and J. Gong, 2010. Geo-processing workflow driven wildfire hot pixel
		                    detection under sensor web environment, Computers &amp; Geosciences, Volume 36, Issue 3, March
		                    2010, Pages 362-372. doi:10.1016/j.cageo.2009.06.013
		                </li>
		                <li>Chen, N., L. Di, G. Yu, and M. Min, 2009. A flexible geospatial sensor observation service
		                    for diverse sensor data based on Web service. ISPRS Journal of Photogrammetry and Remote
		                    Sensing, Volume 64, Issue 2, March 2009, Pages 234-242. doi:10.1016/j.isprsjprs.2008.12.001 
		                </li>
		
		                <li> Chen, N., L. Di, G. Yu, J. Gong, and Y. Wei, 2009. Use of ebRIM based CSW with Sensor
		                    Observation Services for registry and discovery of remote-sensing observations. Computer &amp;
		                    Geosciences. Volume 35, Issue 2, Pages 360-372. doi:10.1016/j.cageo.2008.08.003.
		                </li>
		                <li> Di, L., K. Moe and G. Yu., 2009. Metadata Requirements Analysis for the Emerging Sensor Web,
		                    International Journal of Digital Earth, Volume 2, Issue S1 2009, pages 3 - 17.
		                    doi:10.1080/17538940902866195.
		                </li>
		                <li> Yu, G. E., Zhao, P., Di, L., Chen, A., Deng, M., &amp; Bai, Y. (2012). BPELPower - A
		                    BPEL execution engine for geospatial web services. Computers &amp; Geosciences, 47, 87-101.
		                </li>
		            </ul>
		        </div>
		
		    </section>

		</div>
	</body>
</html>
