<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="frame">
	<head>
	    <title>Project Schedule</title>
	</head>
	<body>
	
		<div class="clearfix" layout:fragment="content">
		
		    <div class="sec-heading font-default">
		    
		        <div class="container">
		    
		            <h1>Schedule</h1>
		    
		        </div>
		    
		    </div>
		
		    <section class="container font-default">
		    	
		        <div class="panel panel-default">
					
					<div class="row">
					
						<div class="col-md-2 text-center">
							Period
						</div>
						
						<div class="col-md-6  text-center">
							Description
						</div>
						
						<div class="col-md-4  text-center">
							Milestones at end of the period
						</div>
					
					</div>
					
					<div class="row">
					
						<div class="col-md-2">
							<p>1st semiannual</p>
						</div>
						
						<div class="col-md-6">
							<p>Project initial setup; Development environment ready; Survey of requirements and performance metrics; Architecture design following ISO/IEC 10746.</p>
						</div>
						
						<div class="col-md-4">
							<p>Detailed architecture reports.</p>
						</div>
					
					</div>
					
					<div class="row">
					
						<div class="col-md-2">
							<p>2nd semiannual</p>
						</div>
						
						<div class="col-md-6">
							<p>Assembly the integrated system. Development of specific modules. Conduct interdisciplinary research. Conduct model inter-comparison and validation.</p>
						</div>
						
						<div class="col-md-4">
							<p>Demonstrate science use cases of interdisciplinary research and intercomparison/validation.</p>
						</div>
					
					</div>
					
					<div class="row">
					
						<div class="col-md-2">
							<p>3rd semiannual</p>
						</div>
						
						<div class="col-md-6">
							<p>Improve the integrated system. Development of specific modules. Construct and conduct streamline processing science use case.</p>
						</div>
						
						<div class="col-md-4">
							<p>Release of the integrated system. Demonstration of streamlined processing science use case.</p>
						</div>
					
					</div>
					
					<div class="row">
					
						<div class="col-md-2">
							<p>4th semiannual</p>
						</div>
						
						<div class="col-md-6">
							<p>Conduct automated dissemination science use case. Evaluate the performance of the integrated system with metrics. Documentation development.</p>
						</div>
						
						<div class="col-md-4">
							<p>Demonstration of automated dissemination science use case. Final release of the integrated system. Release of system documentation.</p>
						</div>
					
					</div>
					
		        </div>
		        
		    </section>
		
		</div>
	</body>
</html>
